body {
    background-color: var(--modern-bg-color);
    color: rgb(196, 90, 190);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 4vmin;
}

body::-webkit-scrollbar {
    background-color: var(--modern-bg-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--modern-darkpink-color);
    border-radius: 2px;
}


p {
    font-size: 3vmax;
    font-weight: lighter;
}


h1 {
    font-size: 16vmax;
    text-decoration: underline;
}


span {
    color: var(--modern-darkpink-color);
    font-size: 4vmax;
}

a {
    color: var(--modern-pink-color);
    font-size: 1vmax;
    text-decoration: none;
    font-weight: lighter;
    transition: 1s;
}

a:hover {
    letter-spacing: 0.1vmax;
    font-size: 1.2vmax;
}

a:visited {
    background-color: var(--modern-darkpink-color);
}

:root {
    --modern-bg-color: rgb(48, 32, 66);
    --modern-pink-color: rgb(218, 148, 214);
    --modern-darkpink-color: rgb(196, 90, 190);
    --modern-darkpurple-color: rgb(34, 24, 46);
}

::selection {
    background-color: var(--modern-darkpink-color);
    color: var(--modern-bg-color);

}

