body {
    background-color: var(--modern-bg-color);
    color: rgb(196, 90, 190);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 4vmin;
}

body::-webkit-scrollbar {
    background-color: var(--modern-bg-color);
    z-index: 3;
}

body::-webkit-scrollbar:hover {
    background-color: var(--modern-darkpurple-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--modern-darkpink-color);
    border-radius: 2px;
}

#loadDisplay {
    display: initial; 
    background-color: var(--modern-darkpurple-color); 
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

input[type="text"] {
    background-color: var(--modern-darkpurple-color);
    color: var(--modern-darkpink-color);
    font-size: 4vmax;
    font-weight: lighter;
    text-align: center;
    padding: 2%;
    scroll-padding: 100px;
    width: 40vw;
    height: 4vh;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    transition: 0.4s;

}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
    color:rgb(196, 90, 190);
    opacity: 0.5;
}

input[type="text"]:hover::placeholder {
    opacity: 1;
}

p {
    font-size: 3vmax;
    font-weight: lighter;
    animation: load 1s;
}


h1 {
    font-size: 16vmax;
    text-decoration: underline;
    animation: load 1s;
}


span {
    color: var(--modern-darkpink-color);
    font-size: 4vmax;
}

a {
    color: var(--modern-pink-color);
    font-size: 1vmax;
    text-decoration: none;
    font-weight: lighter;
    transition: 1s;
}

a:visited {
    color: var(--modern-darkpink-color)
}

a:hover {
    letter-spacing: 0.1vmax;
    font-size: 1.2vmax;
}

#devPeople {
    background-color: var(--modern-darkpurple-color);
    border-radius: 2px;
    width: 40vw;
    line-height: initial;
    margin: 0 auto;
}

#ianProfile {
    background-color: var(--modern-darkpurple-color);
    border-radius: 2px;
    padding: 6vmax;
    margin: 0 auto;
}

#colinProfile {
    background-color: var(--modern-darkpurple-color);
    border-radius: 2px;
    padding: 6vmax;
    margin: 0 auto;
}

.pic {
    background-color: var(--modern-pink-color);
    border-radius: 50%;
    height: 6vmax;
    width: 6vmax;
    margin: 0 auto;
}

:root {
    --modern-bg-color: rgb(48, 32, 66);
    --modern-pink-color: rgb(218, 148, 214);
    --modern-darkpink-color: rgb(196, 90, 190);
    --modern-darkpurple-color: rgb(34, 24, 46);
    --link-size: 1vmax;
    --big-font-size: 4vmax;
}

::selection {
    background-color: var(--modern-darkpink-color);
    color: var(--modern-bg-color);

}

@keyframes load {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


#filters_toggle {
    background-color: var(--modern-bg-color);
    color: var(--modern-pink-color);
    font-size: var(--big-font-size);
    border: none;
    cursor: pointer;
}

#regimal {
    height: initial;
    white-space: nowrap;
    width: 40vw;
}

#filters_container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    width: 40vw;
    height: 11vw;
    background-color: var(--modern-darkpurple-color);
    padding: 4%;
    border-top: 2px solid var(--modern-darkpink-color);
    white-space: nowrap;
}

#filters_container.opened {
    animation: toggleOut 1s;
}

#filters_container.closed {
    animation: toggleIn 1s;
    height: 0vw;
    width: 0vw;
    padding: 0;
}

@keyframes toggleOut {
    0% {width: 0vw; height: 0; padding: 0% 4% 0% 4%; }
    20% {width: 40vw; height: 0; padding: 0% 4% 0% 4%;  }
    100% {width: 40vw; height: 11vw; padding: 4% 4% 4% 4%; }
  }

  @keyframes toggleIn {
    0% {width: 40vw; height: 11vw; padding: 4% 4% 4% 4%; }
    20% {width: 40vw; height: 0; padding: 0% 4% 0% 4%; }
    100% {width: 0; height: 0; padding: 0; }
    
  }
